<h3>Enter Your Email Address</h3>
<form action='/password/forget' method="POST">
    <div>
        <label>Email:</label>
        <input type="text" name="email" autocomplete="on" placeholder="example@example.com">
    </div>
    <div>
        <input type="submit" value="Request Password Change">
    </div>
</form>