<h1>You have successfully registered</h1>
<h2>Please check your email box for verifcation email</h2>
<h2>Please note that the email may be in junk mail box</h2>
<h5><a href="/login">Return to login page</a></h5>