<form action="/password/reset/{{key}}" method="post">
    <div>
        <label>New Password:</label>
        <input type="password" name="password" placeholder="．．．．．．．．" disabled>
    </div>
    <div class='error_reminder' id='password_structure_reminder'>
        <span>Your password must contain the following</span>
        <ul>
            <li id='length'>8 to 16 characters long ✘</li>
            <li id='letter'>Has any letters ✘</li>
            <li id='number'>Has any numbers ✘</li>
        </ul>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirm_password" placeholder="．．．．．．．．" disabled>
        <div class='error_reminder' id='unmatched_password_reminder'>password not matched</div>
    </div>
    <div>
        <input type="submit" value="Confirm" disabled>
    </div>
</form>