{{#if error}}
<div id="error_message">{{error}}</div>
{{/if}}
<form action="/signup" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" autocomplete="on" placeholder="username1234" disabled>{{!prevent user input before document loads}}
        <div class='error_reminder' id='invalid_username_reminder'>Invalid Username</div>
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" autocomplete="on" placeholder="example@example.com" disabled>
        <div class='error_reminder' id='invalid_email_reminder'>Invalid Email</div>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="．．．．．．．．" disabled>
    </div>
    <div class='error_reminder' id='password_structure_reminder'>
        <span>Your password must contain the following</span>
        <ul>
            <li id='length'>8 to 16 characters long ✘</li>
            <li id='letter'>Has any letters ✘</li>
            <li id='number'>Has any numbers ✘</li>
        </ul>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirm_password" placeholder="．．．．．．．．" disabled>
        <div class='error_reminder' id='unmatched_password_reminder'>password not matched</div>
    </div>
    <div>
        <input type="submit" value="Sign up" disabled>
    </div>
</form>